header {
	width: 100%;
	justify-content: center;
}

header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h2{
	font-family: Candara, Trebuchet MS, sans-serif;
	text-decoration: underline;
	color: #45858C;
	margin: 25px;
}

ol, h3 {
	font-family: Candara, Trebuchet MS, sans-serif;
	color: #79aeb0;
	margin: 25px;
}


h4 {
	font-family: Candara, Trebuchet MS, sans-serif;
	color: #cce8e6;
	margin: 25px 25px 0px 25px;
}

p {
	font-family: Candara, Trebuchet MS, sans-serif;
	color: black;
	line-height: 1.4;
	margin: 25px;
	font-size: 16px;
}

ul {
	font-family: Candara, Trebuchet MS, sans-serif;
	color: black;
	line-height: 1.4;
	margin-left: 25px;
}

a {
	font-family: Candara, Trebuchet MS, sans-serif;
	color: white;
	text-decoration: none;
  	padding: 5px 7px;
  	text-align: center;
  	display: inline-block;
  	margin-left: 25px;
  	font-weight: bold;
	background-color: cadetblue;
}

a:hover{
	background-color: #A0D9D9;
}

/*Styling Navigation Bar*/
nav {
	width: 100%;
	background-color: cadetblue;
	overflow: auto;
}

/*Styling List of Navigation Bar*/
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:  flex;
	justify-content: left;
}

/*Styling Links within Navigation Bar*/
nav li a.navbar {
	font-family: Candara, sans-serif;
	padding: 7px 10px;
	text-align: center;
	text-decoration: none;
	color: white;
	display: inline-block;
	font-weight: bold;
}

/*Styling Links within Navigation Bar - Change color of link when hovered over*/
nav ul li a.navbar:hover {
	background-color: #a0c5c6;
}

/*Styling Links within Navigation Bar - Change color of the page that is currently active*/
nav ul li a.active {
	background-color: #a0c5c6;
}

/*Styling row of images - Container of all images in a row*/ 
.image-row {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

/*Styling row of images - Individual image containers which ensure all image boxes are the same size */ 
.image-item {
	width: 400px;
	height: 250px;
	overflow: hidden;
}

/*Styling row of images - Styling the actual images between the containers*/ 
.image-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-container {
	float: right;
	width: 25%;
	margin: 0px 25px 25px 25px;
	text-align: center;
}


.image {
	width: 100%;
}

figcaption {
	font-family: Candara, Trebuchet MS, sans-serif;
	font-size: smaller;
	font-style: italic;
}

/*Styling the links that appear on the homepage*/
.link-one {
	font-family: Candara, Trebuchet MS, sans-serif;
	color: white;
	text-decoration: none;
  	padding: 5px 7px;
  	text-align: center;
  	display: inline-block;
  	margin: 0px 0px 120px 25px;
  	font-weight: bold;
	background-color: #9bba8c;
}

.link-two {
	font-family: Candara, Trebuchet MS, sans-serif;
	color: white;
	text-decoration: none;
  	padding: 5px 7px;
  	text-align: center;
  	display: inline-block;
  	margin-left: 25px;
  	font-weight: bold;
	background-color: #9bba8c;
}

/*Change the appearence of links when hovered over*/
.link-one:hover {
	background-color: #5c916a;
}

.link-two:hover {
	background-color: #5c916a;
}

/*Styling the footer*/
footer {
	font-family: Candara, Trebuchet MS, sans-serif;
	padding: 3px;
	text-align: left;
	color: white;
	background-color: #87adaa;
	margin-top: 45px;
}

/*Styling the list in the footer*/
footer ul.footer-nav {
  	list-style-type: none;
  	padding: 0;
  	margin: 15px 25px 25px 25px;
}

/*Styling the links in the footer*/
footer .footer-links {
  	color: white;
  	background-color: #87adaa; 
 	text-decoration: none;
  	padding: 0;
  	margin: 0;
}

/*Change the appearence of links when hovered over*/
footer .footer-links:hover {
  	color: #b6dedb;
  	background-color: #87adaa; 
 	text-decoration: none;
  	padding: 0;
  	margin: 0;
}

address ul li{
	color: white;
}

/*Styling the images placed to the right of text*/
.image-two {
	float: right;
	width: 25%;
	height: auto;
	margin: 0px 25px 25px 25px;
}


/*Styling the images placed to the right of text - different margins*/
.image-four {
	float: right;
	width: 25%;
	height: auto;
	margin: 25px 25px 25px 25px;
}

/*Styling the images placed to the left of text*/
.image-three {
	float: left;
	width: 25%;
	height: auto;
	margin: 0px 25px 25px 25px;
}

.address-container {
	margin-bottom: 80px;
}

.reference-list ul {
	font-family: Candara, Trebuchet MS, sans-serif;
	color: black;
	line-height: 1.7;
	margin: 25px;
	overflow: hidden;
}

.error-message h1{
	font-family: Candara, Trebuchet MS, sans-serif;
	color: cadetblue;
	text-align: center;
	font-size: 60px;
}


.error-message h2{
	font-family: Candara, Trebuchet MS, sans-serif;
	color: #79aeb0;
	text-align: center;
	font-size: 40px;
}


.error-message h3{
	font-family: Candara, Trebuchet MS, sans-serif;
	color: black;
	text-align: center;
	font-size: 20px;
}


.error-message p{
	font-family: Candara, Trebuchet MS, sans-serif;
	color: black;
	text-align: center;
}

/*Styling image in 404 page to be center aligned */
.error-message img{
	width: 20%;
	height: auto;
	display: block;
 	margin-left: auto;
	margin-right: auto;
}

/*Styling home button in 404 page to be center aligned */
.button-container {
	display: flex;
	justify-content: center;
}

/*Styling home button in 404 page*/
.home-button {
	font-family: Candara, Trebuchet MS, sans-serif;
	color: white;
	text-decoration: none;
  	padding: 10px 30px;
  	text-align: center;
	font-weight: bold;
	background-color: cadetblue;
	border-radius: 50px;
}